<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_detail.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tasks</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    {% for item in todo_detail.items.all %}
                        <tbody>
                            <td>
                                <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                            </td>
                            <td>{{ item.due_date }}</td>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
{% comment %} <tr>
    <th colspan="1">Task</th>
    <th colspan="1">Due date</th>
</tr>
<tr>
    <th scope="row">Take your medicine at 5 pm</th>
    <td>Mar 1, 2023</td>
</tr>
<tr>
    <th scope="row">Take out the trash at 5:30 pm</th>
    <td>Mar 1, 2023</td>
</tr> {% endcomment %}
